@page "/students"
@using blazor_task_random.Data;
@inject myDbContext DbContext

<h3>Students Without Marks</h3>
<ul>
    @foreach (var student in studentsWithoutMarks)
    {
        <li>@student</li>
    }
</ul>

<h3>Average Age by Major</h3>
<table>
    <!-- Display average age by major -->
</table>

<h3>Students Enrolled in More Than Two Classes</h3>
<table>
    <!-- Display students enrolled in more than two classes -->
</table>

@code {
    private IEnumerable<string> studentsWithoutMarks;
    private IEnumerable<object> averageAgeByMajor;
    private IEnumerable<object> studentsEnrolledInMoreThanTwoClasses;

    protected override void OnInitialized()
    {
        studentsWithoutMarks = DbContext.GetStudentsWithoutMarks();
        averageAgeByMajor = DbContext.GetAverageAgeByMajor();
        studentsEnrolledInMoreThanTwoClasses = DbContext.GetStudentsEnrolledInMoreThanTwoClasses();
    }
}
